<div class="row">
  <div class="col-12">
    <form>
      <div class="d-flex">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control">
        </div>
        <div class="ml-2 form-group">
          <label for="amount">Amount</label>
          <input id="amount" type="number" class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-success">Add</button>
    <button class="mx-2 btn btn-danger">Delete</button>
    <button class="btn btn-warning">Clear</button>
  </div>
</div>
